.product-list {
    position: absolute;
    left: 0;
    border: 1px gainsboro solid;
    margin: 10px;
    padding: 10px;
}

.product-item {
    border: 1px gray solid;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    cursor: pointer;
}

.product-add {
    display: none;
    font-size: 12px;
    color:darkred;
    margin-top: 5px;   
}

.product-item:hover {
    background-color: gainsboro;
}

.product-item:hover .product-add {
    display: block;
}